/* body {
  font-family: sans-serif;
  color: #333;
  background: #f8f8ff;
  margin: 0;
  padding: 20px;
}

span{
  background: pink;
}

#about{
  text-decoration:underline;
}

p {
  font-size: 16px;
}

.subtitle {
  text-decoration:line-through;
}

.highlight {
  color: seagreen;
}

.info-box {
  background: #fffbe6;
  border: 2px dashed orange;
  padding: 15px;
  margin: 20px 0;
  /* text-decoration: dashed underline; */
}

.button{
  background: green;
  color: white;
  border: 3px dashed pink;
}

.button:hover {
  background: lightblue;
  color: green;
}

#main-title {
  color: crimson;
}

#myphoto {
  margin: 20px auto;
  border: 4px solid #aaa;
  width: 250px;
  height: 250px;
}

strong, em {
  color: darkgreen;
}

.info-box a {
  color: blue;
}

a:hover {
  color: hotpink;
}

.special {
  background: lightblue;
  padding: 10px;
  border: 1px solid navy;
  margin: 5px;
}

.flex-container {
  display: flex;
  margin-top: 30px;
}

.box {
  background: lavender;
  border: 2px solid rebeccapurple;
  padding: 20px;
  width: 100px;
}

footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
} */

  